# Fuzz using rustup distributed miri
miri_toolchain = "nightly"

# Fuzz using rustup distributed cranelift
cranelift_toolchain = "nightly"

# Override toolchain for default rustc backend
llvm_toolchain = "nightly"